.hero{
    height: 105vh;
    background-color: aqua;
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}

.one{
    height: 100%;
}

.one{
    width: 100%;
}
.my-content{
    margin-top: 30vh;
    position: relative;
}

.about{
    padding: 50px;
    text-align: center;
    font-size: 2.5vh;
}