.hero{
    height: 105vh;
    background-color: aqua;
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}

header{
    font-size: 5vh;
    text-align: center;
}

.one{
    height: 100%;
}

.one{
    width: 100%;
}
.my-content{
    margin-top: 30vh;
    position: relative;
}

.about{
    text-align: center;
    padding-top: 10vh;
    font-size: 2.5vh;
    padding-bottom: 10vh;
}


.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 2.5vh;
}


.h1{
    font-size: 60vh;
}

.what{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* contact section */

.contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
}