.hero{
    height: 115vh;
    background-color: aqua;
    background-image: url(assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
}

header{
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
}

.one{
    height: 100%;
}
.two img{
    padding-top: 10%;
    padding-bottom: 30px;
}

.two{
    width: 90%;
    height: 90%;
}

.two h1{
    color: white;
    font-weight: 900;
}

.two h3{
    color: white;
}
.about{
    text-align: center;
    padding-top: 10vh;
    font-size: 2.5vh;
    padding-bottom: 10vh;
}



.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-size: 2.5vh;
}


.what{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* contact section */

.contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
}

.fullName{
    width: 100%;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    background: rgba(0, 0, 0, .1);
    padding: 10px;
}

.email{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
}
/* .textarea{
    width: fit-content;
    color: whitesmoke;
    margin: 0 auto;
    font-size: 2.5vh;
} */

.textarea2{
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    margin: 0 auto;
    /* height: 30vh; */
    /* width: 90%; */
}

.social img{
    padding-left: 2vw;
}

.social{
    flex-wrap: wrap;
}

.div1, .div2, .div3{
    text-align: center;
    font-size: large;
}

.do header{
    color: black;
}
